__pycache__/russia.cpython-37.pyc
__pycache__/app.cpython-37.pyc
__pycache__/russia.cpython-37.pyc
__pycache__/russiax.cpython-37.pyc
__pycache__/worldw.cpython-37.pyc
yandex_russia.csv
yandex_world.csv